version: '3.6'
services:
  nsr:
    build: .
    image: docker.jw4.us/nsrecorder:latest
    user: ${UID:-1001}:${GID:-1001}
    cap_drop:
      - ALL
    command:
      - list
    environment:
      - TOPIC=${TOPIC:-dns}
      - CHANNEL=${CHANNEL:-recorder}
      - LOOKUPD=${LOOKUPD:-"127.0.0.1:4161"}
      - VERBOSE=${VERBOSE:-false}
      - DB_FILE=/var/lib/data/nsr.db
    dns:
      - "${DNS1:-8.8.8.8}"
      - "${DNS2:-8.8.4.4}"
    dns_search: ${DNS_SEARCH:-}
    volumes:
      - ${LOCAL_DATA:-./data}:/var/lib/data
